/*type------------------------------------------*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}
html, body{
  padding:0;
  margin:0;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  height: 100vh;
  font-family: 'Mali', cursive;
}
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
}
header {
  margin: 0;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(206, 205, 196);
  position: fixed;
  top: 0;
  z-index: 20;
}

.logo {
  margin-left: 2rem;
  width: 5rem;
  height: 5rem;
}

.nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  margin-right: 2rem;
}

.nav-list a {
  text-decoration: none;
  padding: 0.5rem 1rem ;
  color:rgba(80, 57, 184,0.7);
  font-weight: 700;
  font-size: 1.5rem;
}

.nav-list a:hover,
.nav-list a:active {
  border-radius: 20px;
  border-bottom: 4px solid rgba(80, 57, 184,0.7);
}
/* FOOTER */
footer {
  width: 100%;
  height: 8rem;
  background-color: rgb(206, 205, 196);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding-top: 3rem;
}

.footer-contact {
  display: flex;
  flex-direction: column;
  
}
.footer-contact p {
  padding-bottom: 1rem;
  color:  rgba(80, 57, 184,0.7);
  font-size: 1.3rem;
  font-weight: 600;
}
footer div {
  display: flex;
}

footer img {
  margin-right: 3rem;
  width: 4rem;
  height: 4rem;
}

/* HOME */
main {
  width: 70vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.slide-div img {
  margin-top: 5rem;
  width: 70vw;
  height: 60vh;
}

.title-div {
  margin: 3rem 0;
  width: 70vw;
  text-transform: uppercase;
  font-size: 2.5rem;
  text-align: left;
  color: rgba(80, 57, 184,0.7);
  text-decoration: underline;
}

.about-div {
  width: 70vw;
  background-color:  rgba(80, 57, 184,0.7);
  color: beige;
  text-align: left;
  padding: 1rem;
  font-size: 1.3rem;
  border-radius: 20px 20px 0 0;
}
/* .fix-div{
  margin: 0rem 0;
    width: 70vw;
    height: 100vh;
    background: url('../images/dove.jpg') no-repeat center;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    box-shadow: gray 4px 4px 4px;
} */

.cards-sec {
  margin: 1rem 0 10rem 0;
  padding: 1rem;
  width: 70vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border: 2px solid rgba(80, 57, 184,0.7);;
  border-radius: 0 0 20px 20px;
}
 .article-card {
  display: flex;
  flex-direction: column;
  margin: 1rem 1rem;
  padding: 3rem;
  background: rgba(80, 57, 184,0.15);
  border-radius: 20px;
  color: rgba(80, 57, 184,0.7);
  font-weight: 800;
  text-transform: uppercase;
  
}
.article-card img {
    width: 10rem;
    height: 8rem;
    margin-bottom: 1.5rem;
}


/* ABOUT */

.about-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70vw;
  margin: 0;
  padding: 0;

}

.about-img_div {
  width: 70vw;
  height: 70vh;
background-image: url('../images/dove\ 7.jpg');
background-attachment: fixed;
background-size: cover;
filter: grayscale(70);
z-index: -21;
}

.about-section p {
  font-size: 1.3rem;
  font-weight: 600;
  margin: 2rem 0 ;
  text-align: left;
}
.about-section p::first-letter {
  padding-left: 1rem;
}
.about-section h1 {
  
  margin: 7rem 0 3rem;
  width: 70vw;
  text-transform: uppercase;
  font-size: 3.5rem;
  text-align: left;
  color: rgba(80, 57, 184,0.7);
  text-decoration: underline;
}

.about-section p {
  color:  rgba(80, 57, 184,0.7);
}

/* CONTACTS */

.holder-contact {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70vw;
  height: 100vh;
  padding: 10rem 0 5rem 0;
}
.holder-title {
  color: rgba(80, 57, 184,0.7);
  font-size: 3rem;
  font-weight: bold;
}

.left-contact {
  width: 38%;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(80, 57, 184,0.7);
  text-transform: uppercase;
  font-size: 2.3rem;
  /* border: 2px solid  rgba(80, 57, 184,0.7);
  border-radius: 20px 0 0 20px; */
}

.right-contact {
  width: 58%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: initial;
  color: rgba(80, 57, 184,0.7);
  font-weight: 700;
  font-size: 1.5rem;
  border-radius: 0 20px 20px 0;
}
.right-contact div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 4rem;
}
.right-contact a {
  text-align: left;
}
.right-contact img {
  width: 2rem;
  height: 2rem;
  margin-right: 2rem;
}

#insta-div{
  display: flex;
flex-direction: row;
align-items: center;
}

